
                <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                    <h2>Demande de chéquier</h2>
                  
                    <label>
                      Nom :
                      <input type="text" name="nom" ngModel required>
                    </label>
                  
                    <label>
                      Prénom :
                      <input type="text" name="prenom" ngModel required>
                    </label>
                  
                    <label>
                      Adresse :
                      <input type="text" name="adresse" ngModel required>
                    </label>
                  
                    <label>
                      Nombre de chéquiers :
                      <select name="nombreChequiers" ngModel required>
                        <option value="" disabled selected>Choisissez le nombre de chéquiers</option>
                        <option *ngFor="let n of nombreChequiersOptions" [value]="n">{{ n }}</option>
                      </select>
                    </label>
                  
                    <button type="submit">Envoyer</button>
                  </form>
                  
              

                                          






                                           
                                       


                                   

                    



                   




    
      
      
    


